extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Ivan Sardelić

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
            | This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Gulp
          li JavaScript
          li HTML
          li CSS 
          li AJAX
        h6 Contact Info

        ul
          li (+381)64-99-828-55
          li ivan.ssardelic@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/ivan-sardeli%C4%87-6a6015131/') LinkedIn
        a.button.expanded(href='https://github.com/ivansard') GitHub
  nav.grid-container.portfolio-breadcrumbr
    a(href='/') ← Back
  