extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 My Portfolio

      p.lead.text-light
        | Hi guys! Below I've listed my first Treehouse Techdegree projects which I have completed as part
        | of the Treehouse Techdegree programme. I'll be sure to update these projects as I continue developing my
        | coding skills. Happy coding everyone!
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`/static/images/${project.imageUrls[0]}`)
            h5 #{project.project_name}